/.gitattributes text eol=lf
/.github/workflows/build-experimental.yml text eol=lf
/THIRD_PARTY_NOTICES.md text eol=lf
/scripts/experimental/*.py text eol=lf
/scripts/experimental/*.sh text eol=lf
/packaging/windows/scripts/*.ps1 text eol=lf
/packaging/windows/service/RedisService/*.cs text eol=lf
/packaging/windows/service/RedisService/*.csproj text eol=lf
